In [14]:
import pandas as pd

df= pd.read_csv('student.csv')

average = df['mark'].mean()

print(df)

print(f' Average: {average}')

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11     Big John   Four    98  female
11  12     Big John   Four   100  female
 Average: 73.66666666666667